/*
name: High Tech
designer: Converted by Mike Thomsen. Original work by GetTemplate (http://www.gettemplate.com)
designer_url: http://www.codemonkeyramblings.com
layouts: layout-tw
*/

#header{
	background:url(bg_visual.jpg) no-repeat;
	height:272px;
}

#header-name {
	color:white;
	margin-top:20px;
	margin-left:35px;
}
#header-name a
{
	color:white;
	font-size:18px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

#header-description
{
	color:white;
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	width:200px;
	margin-left:35px;
}



body
{
	background: url(bg_body.gif);
	background-color:#3f5783
}

#container-inner
{
	background-color:white;
	width:940px;
}

a, .widget a:hover
{
	color: #CF0303;
}

#footer
{
	background:url(bg_body.gif);
	color:white;
	text-align:center;
}
#footer a { color:white; }

.entry-title
{
	font-family: Arial, sans-serif; 
	font-size: 18px;
	height:28px;
	border-bottom: 1px solid #cccccc;
}

#alpha-inner
{
	border-left: 1px dotted #535353;
}

.widget-header
{
	font-size:15pt;
}

.widget a
{
	color: #535353;
}

li
{
	
}